In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('Womens Clothing Reviews Data.csv')

#Characteristic of data

In [5]:
# the 'head()' method is used to retrieve the top rows of the Dataframe. By defult, it returnd the five rows.
df.head()

,Product ID,Category,Subcategory1,SubCategory2,Location,Channel,Customer Age,Review Title,Review Text,Rating,Recommend Flag
0,767,Initmates,Intimate,Intimates,Mumbai,Mobile,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1
1,1080,General,Dresses,Dresses,Bangalore,Mobile,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1
2,1077,General,Dresses,Dresses,Gurgaon,Mobile,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0
3,1049,General Petite,Bottoms,Pants,Chennai,Web,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1
4,847,General,Tops,Blouses,Bangalore,Web,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1

In [6]:
#this line show about dataset, including datatypes, non-null counts, and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product ID      23486 non-null  int64
 1   Category        23472 non-null  object
 2   Subcategory1    23472 non-null  object
 3   SubCategory2    23472 non-null  object
 4   Location        23486 non-null  object
 5   Channel         23486 non-null  object
 6   Customer Age    23486 non-null  int64
 7   Review Title    19676 non-null  object
 8   Review Text     22641 non-null  object
 9   Rating          23486 non-null  int64
 10  Recommend Flag  23486 non-null  int64
dtypes: int64(4), object(7)
memory usage: 2.0+ MB

In [7]:
#summary statistics for numerical columns 
df.describe()

         Product ID  Customer Age        Rating  Recommend Flag
count  23486.000000  23486.000000  23486.000000    23486.000000
mean     918.118709     43.198544      4.196032        0.822362
std      203.298980     12.279544      1.110031        0.382216
min        0.000000     18.000000      1.000000        0.000000
25%      861.000000     34.000000      4.000000        1.000000
50%      936.000000     41.000000      5.000000        1.000000
75%     1078.000000     52.000000      5.000000        1.000000
max     1205.000000     99.000000      5.000000        1.000000